h1{
    font-family:"Varela Round", sans-serif;
    margin:0;
    padding:0;
    font-size: 5em;
    font-stretch:extra-expanded;
        
    font-weight:300;
}

h3{
    font-size:2em;
    letter-spacing: 3px;
}
h3, h5, p{
    font-family:"lato", sans-serif;
    font-weight:300;
}

h5{
  font-size: 1.5em  
}
a{
    text-decoration:none;
    color:white;
    font-family:"lato", sans-serif;
}
body{
    margin:0;
    padding:0;
}
.button{
    font-size:2em;
    border: 2px white solid;
    padding:5px 40px 7px 40px;
}
.half-column{
    width:45%;
    margin: 5% 2% 0 3%;
    float:left;
}

/*---------- Nav Bar -----------*/

.navBar{
    background-color:rgba(0,0,0,.6);
    width:100%;
    height:3.5em;
    position:fixed;
    z-index: 1;
}

.logo{
    float:left;
    
}
.logo img{
    height:25px;
    float:left;
    padding:1em 0 0 10%;
}

.links{
    text-align: center;
    width:30%;
    float:left;
    padding: 0 0 0 23%;
}

.links > li{
    text-align: center;
    display:inline-block;
    margin:0 5%;
}
.signIn{
    float:right;
    margin:1em 3em 0 0;
}



/*---------- Hero ----------*/
.hero h1,.hero h3,.hero a{
    vertical-align: center;
}

.hero{
    padding:0;
    margin:0;
    min-width: 100%;
    text-align: center;
    color:white;
    position:relative;
    height: 900px;  
    text-align:center;
    
}

.heroTitle{
    letter-spacing: 10px;
    padding:20% 0 0 0;
    margin:0 5%;
}
.heroSub{
    margin:0 5% 5% 5%;
}

.mySlides{
    min-width:100%;
    min-height:100%;
    position:absolute;
    z-index: -1;
    align-content: center;
    clip: rect(0, 3000px, 900px, 0);
    max-height:inherit;
}

.dots{
    padding: 12% 0 0% 0;
}
.carasolDot{
    height:10px;
    width:10px;
    margin:0 10px;
    display:inline-block;
    border-radius:50%;
    background-color:rgba(0,0,0,.7)
}
.whiteDot,.whiteHover:hover{
    background-color:rgba(255,255,255,.9);
    color:black;
    cursor:pointer;
}
.carasolButtonLeft{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.carasolButtonRight{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.carasolButton{
    border:none;
    padding:8px 16px;
    width:40px;
    height:40px;
    background-color:rgba(0,0,0,.5);
    color:white;
}


.sellingPoints{
    position:relative;
    min-height: 700px;
    width:100%;
}
.sellingPoints h3{
    font-family:"Varela Round", sans-serif;
}
.sellingPoints div{
}
.sellingPoints div h5{
    margin:7% 0 0 0;
    padding:0;
}
.designer{
    padding:;
    margin: 20% 20% 0 0;
}

.subscribe{
    clear:all;
    position:relative;
    margin:0;
    text-align: center;
    background:rgba(0,0,0,.8);
    color:white;
    height:300px;
}
.subscribe h5{
    padding:100px 0 0;
}
input[type=text]{
    
}

footer{
    clear:all;
    position:relative;
    background-color:black;
    opacity:.6;
    min-width:100%;
    height:4em;
}
footer h5{
    color:white;
    margin:0;
    padding:0;
}